version: "3.9"

services:
  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"

  backend:
    image: node:18
    working_dir: /app
    volumes:
      - ./backend:/app
    command: echo "Backend placeholder"
    depends_on:
      - mongo
